<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


<a href="./pages/novo-funcionario.html">Novo Funcionario</a></br>

</br>
<a href="./pages/novo-setor.html">Novo Setor</a></br>
<a href="./pages/listar-setor.html">Listar Setor</a></br>






<div align="center">
	<div id="inicio"   >



		<div class="modal" id="modal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Editar Usuário</h5>
				  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>

				<div class="modal-body">


					<input type="text" placeholder="nome" v-model="funcionario.nome" v-bind:valeu="funcionario.nome"  /><br />
					<input type="number" placeholder="salario" v-model="funcionario.salario"  /><br />
					<input type="email" placeholder="email" v-model="funcionario.email" /><br />
					<input type="number" placeholder="idade" v-model="funcionario.idade"  /><br />
			
			
					<select v-model="funcionario.setor">
						<option v-for="setor in listaSetores" v-bind:value="setor">
							{{ setor.nome }}
						</option>
					</select>
					<br />
			

				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				  <button ttype="button" class="btn btn-outline-secondary"  @click="updateFuncionario(funcionario.id)" data-dismiss="modal">Save changes</button>
				</div>
			  </div>
			</div>
		  </div>





	
		<h4>Lista dos Funcionários</h4>
		<table class="table table-striped">
		  <tr>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th>Editar</th>
			<th>Apagar</th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="funcionario in listaFuncionarios">
			  <td>{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td>
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  <td><button type="button" data-toggle="modal" data-target="#modal" @click="pegaFuncionario(funcionario)">&#9998;</button></td>
				<td><span  @click="deleteFuncionario(funcionario.id)">&#10006;</span></td>
			</tr>
		  </tbody>
		</table>
	  </div>
 </div>



	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>
